centering($horizontal = true, $vertical = true) {
    position absolute

    if ($horizontal && $vertical) {
        left 50%
        top 50%
        transform translate(-50%, -50%)
    } else if ($horizontal) {
        left 50%
        transform translate(-50%, 0)
    } else if ($vertical) {
        top 50%
        transform translate(0, -50%)
    }
}

headings($color, $margin-bottom = 'initial') {
    h1, h2, h3, h4, h5, h6 {
        color: $color;
        margin-bottom: $margin-bottom;
    }
}

bg_image($img) {
    background-image: url('../img/' + $img);
    background-size: cover;
    background-position: center;
}

minwidth(var) {
    condition = 'all and (min-width: %s)' % var;

    @media condition {
        {block};
    }
}

maxwidth(var) {
    condition = 'all and (max-width: %s)' % var;

    @media condition {
        {block};
    }
}

between(min, max) {
    condition = 'all and (min-width: %s) and (max-width: %s)' % (min max);

    @media condition {
        {block};
    }
}

flexGap($gap, $direction = row, $element = div) {
    > {$element} {
        if ($direction == row) {
            margin 0 unit(($gap / 2), s('px'))

            &:first-child {
                margin-left 0
            }

            &:last-child {
                margin-right 0
            }
        }

        if ($direction == column) {
            margin unit(($gap / 2), s('px')) 0

            &:first-child {
                margin-top 0
            }

            &:last-child {
                margin-bottom 0
            }
        }
    }
}