html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border 0
    font inherit
    font-size 100%
    margin 0
    padding 0
    vertical-align baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display block
}

body {
    line-height 1
}

ol, ul {
    list-style none
}

blockquote, q {
    quotes none
}

blockquote:before, blockquote:after, q:before, q:after {
    content ''
    content none
}

table {
    border-collapse collapse
    border-spacing 0
}

sup {
    vertical-align super
}

button[disabled], html input[disabled] {
    cursor not-allowed
    opacity .4
    pointer-events none
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border 0
    padding 0
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    content ' '
    display table
}

.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear both
}

input::-ms-clear, input::-ms-reveal {
    display none
}

// For local test only
.page-template-template-urnwall-test-page {
    .about-box {
        visibility visible
    }
}

a {
    text-decoration none
}