// Fonts
$luckiest = 'Luckiest Guy', cursive;
$open-sans = 'Open Sans', sans-serif;

//Color system
$red = #BC210B
$white = #FFFFFF
$black = #000000
$grey = #5F5F5F
$light-blue = #67C3D3
$dark-blue = #44A5C2
$text-blue = #3B7D92
$purple = #97368B
$light-grey = #D6D6D6
$yellow-main = #FFC200
$yellow-secondary = #FFCF11
$yellow-program-filter = #FFD02E
$orange-lighter = #F79C28
$orange = #EF7D00
$pink = #CC007A
$map-background = #42946e
$dropdown-menu-hover = rgba(239, 125, 0, 0.5);
$map-secondary-filter-tablet-background = #d6ecfc

// Screen sizes
$sm-min = 576px;
$md-min = 768px;
$lg-min = 992px;
$xl-min = 1281px;
$xxl-min = 1400px;
$xs-max = 425px
$sm-max = 575px;
$md-max = 767px;
$lg-max = 991px;
$xl-max = 1280px;
$xxl-max = 1399px;