input[type='text'], input[type='email'] {
    font-family $paragraph
    border-top 0
    border-right 0
    border-left 0
    border-bottom 2px solid $primary
    border-radius 0
    font-size 16px
    line-height 24px
    font-weight 600
    color $primary
    background-color transparent

    &:active, &:focus, &:focus-visible {
        border-radius 0
        outline none
    }
}

/* Custom checkbox start */
.input-group--checkbox label {
    display block
    position relative
    padding-left 28px
    cursor pointer
    user-select none
}

input[type='checkbox'] {
    position absolute
    opacity 0
    cursor pointer
    height 0
    width 0
}

.checkmark {
    position absolute
    top 0
    left 0
    height 20px
    width 20px
    background-color #eee
}

input[type='checkbox']:checked ~ .checkmark {
    background-color #307FE2
}

.checkmark:after {
    content ''
    position absolute
    display none
}

.input-group--checkbox label input:checked ~ .checkmark:after {
    display block
}

.input-group--checkbox label .checkmark:after {
    left 6px
    top 2px
    width 5px
    height 10px
    border solid white
    border-width 0 3px 3px 0
    transform rotate(45deg)
    border-radius 2px
}

/* Custom checkbox end */
.input-group--checkbox {
    display flex
    gap 8px

    label, label p {
        font-family $paragraph
        color $white
        font-size 12px
        font-style normal
        font-weight 400
        line-height 20px
        max-width 445px

        +maxwidth($xl-max) {
            max-width unset
        }
    }

    label a, label a:visited {
        color #00D8EC
    }
}

.input-group {
    position relative

    .input-group__placeholder {
        font-family $paragraph
        font-size 16px
        line-height 24px
        font-weight 600
        color $primary
        position absolute
        top 0
        transition top .3s ease-in-out
        pointer-events none

        &.active {
            top -24px
        }
    }
}

.input-group--footer {
    margin 40px 0

    &:last-of-type {
        margin-bottom 0
    }

    input[type='text'], input[type='email'] {
        border-bottom 2px solid $white
        color $white
        width 379px

        +maxwidth(1399px) {
            width 300px
        }

        +maxwidth($xl-max) {
            width 348px
        }

        +maxwidth($md-max) {
            width 280px
        }

        +maxwidth($sm-max) {
            width 100%
        }
    }

    .input-group__placeholder {
        color $white
    }
}

.input-group--footer.input-group--checkbox {
    margin-top 0
}

.error-message {
    color $error-message
    font-family $paragraph
    font-weight 400
    margin-top 3px
}