body {
    margin 0
}

a {
    text-decoration none

    &:visited {
        color $white
    }
}

p {
    margin 0
}

figure {
    margin 0
}

ul {
    margin 0
}

.otgs-development-site-front-end {
    display none !important
}