.ofi-cover-left-top {
    font-family 'object-fit: cover; object-position: left top;'
    object-fit cover
    object-position left top
}

.ofi-cover-left-center {
    font-family 'object-fit: cover; object-position: left center;'
    object-fit cover
    object-position left center
}

.ofi-cover-left-bottom {
    font-family 'object-fit: cover; object-position: left bottom;'
    object-fit cover
    object-position left bottom
}

.ofi-cover-center-top {
    font-family 'object-fit: cover; object-position: center top;'
    object-fit cover
    object-position center top
}

/* COVER */
.ofi-cover-center-center {
    font-family 'object-fit: cover; object-position: center center;'
    object-fit cover
    object-position center center
}

.ofi-cover-center-bottom {
    font-family 'object-fit: cover; object-position: center bottom;'
    object-fit cover
    object-position center bottom
}

.ofi-cover-right-top {
    font-family 'object-fit: cover; object-position: right top;'
    object-fit cover
    object-position right top
}

.ofi-cover-right-center {
    font-family 'object-fit: cover; object-position: right center;'
    object-fit cover
    object-position right center
}

.ofi-cover-right-bottom {
    font-family 'object-fit: cover; object-position: right bottom;'
    object-fit cover
    object-position right bottom
}

/* CONTAIN */
.ofi-contain-left-top {
    font-family 'object-fit: contain; object-position: left top;'
    object-fit contain
    object-position left top
}

.ofi-contain-left-center {
    font-family 'object-fit: contain; object-position: left center;'
    object-fit contain
    object-position left center
}

.ofi-contain-left-bottom {
    font-family 'object-fit: contain; object-position: left bottom;'
    object-fit contain
    object-position left bottom
}

.ofi-contain-center-top {
    font-family 'object-fit: contain; object-position: center top;'
    object-fit contain
    object-position center top
}

.ofi-contain-center-center {
    font-family 'object-fit: contain; object-position: center center;'
    object-fit contain
    object-position center center
}

.ofi-contain-center-bottom {
    font-family 'object-fit: contain; object-position: center bottom;'
    object-fit contain
    object-position center bottom
}

.ofi-contain-right-top {
    font-family 'object-fit: contain; object-position: right top;'
    object-fit contain
    object-position right top
}

.ofi-contain-right-center {
    font-family 'object-fit: contain; object-position: right center;'
    object-fit contain
    object-position right center
}

.ofi-contain-right-bottom {
    font-family 'object-fit: contain; object-position: right bottom;'
    object-fit contain
    object-position right bottom
}

.animated-text {
    position relative
    padding 0
    overflow hidden
    transition transform .5s

    &:after {
        content attr(data-text-hover)
        display inline-block
        transform translateY(100%)
        position absolute
        left 0
        transition inherit
    }

    span {
        display inline-block
        transform translateY(0)
        transition inherit
    }

    +minwidth($xl-min) {
        &:hover {
            span {
                transform translateY(-100%)
            }

            &:after {
                transform translateY(0)
            }
        }
    }
}