// Color system
$primary = #2C3EB1;
$primary-lighter = #0047DD;
$text-card-background = #2F5FCA;
$filter-input-background = rgba(48, 127, 226, .5);
$grey = #D9D9D6
$light-grey = rgba(255,255,255,0.3);
$white = #ffffff
$dark = #242424
$error-message =  #F16393

// Fonts
$paragraph = "TT Firs Neue";


// Screen sizes
$xs-min = 400px
$sm-min = 576px;
$md-min = 768px;
$lg-min = 992px;
$xl-min = 1200px;
$xxl-min = 1626px;
$xs-max = 399px
$sm-max = 575px;
$md-max = 767px;
$lg-max = 991px;
$xl-max = 1199px;
$xxl-max = 1625px;