.slider {
    h1 {
        color: $white;
        margin-bottom: 8px;
    }

    p {
        color: $white;
        white-space: pre-wrap;
    }

    .slick-dots {
        display: flex;
        gap: 10px;
        list-style: none;
        position: absolute;
        bottom: 5%;
        left: 189px;
        padding: 0;

        +maxwidth($xxl-max) {
            left: 86px;
        }

        +maxwidth($sm-max) {
            left: 50%;
            transform: translateY(-50%);
        }

        .slick-active {
            button {
                opacity: 1;
            }
        }

        button {
            cursor: pointer;
            border: unset;
            background-color: $white;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            opacity: 0.5;
            color: transparent;
            font-size: 0;
            padding: 0;
        }
    }
}