#breadcrumbs {
    margin-left: 32px;

    a, .breadcrumb_last {
        font-family: $paragraph-regular;
        font-size: 16px;
        line-height: 24px;
    }

    a {
        color: $primary;
    }

    .breadcrumb_last {
        color: $info-text-color;
    }
}