.page-template-template-wc-checkout {
    h3 {
        color: $primary;
        margin: 32px 0 24px 0;
    }

    textarea {
        border: 2px solid $primary !important;
    }

    .select2-container .select2-selection--single {
        height: 47px !important;
        border: 2px solid $primary !important;
        border-radius: 0;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 47px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 47px !important;
        border-radius: 0;
    }

    .select2-container--open .select2-dropdown--below {
        top: 4px;
    }

    .select2-results__option {
        font-family: $paragraph-regular;
        font-size: 15px;
        padding: 10px;
    }

    .woocommerce-checkout-review-order-table, label {
        font-family: $paragraph-regular;
    }

    .woocommerce-input-wrapper {
        label {
            display: flex !important;
            align-items: center;
            gap: 8px;

            input, .input-checkbox:before {
                display: block !important;
                margin-top: 5px;
                margin-left: 4.5px;
            }

            a {
                color: $primary;
                text-decoration: underline;
            }
        }
    }

    .woocommerce-error {
        font-family: $paragraph-regular;
        margin-top: 32px;
    }
}

.woocommerce-order {
    margin-top: 32px;

    .woocommerce-order-overview.woocommerce-order-overview {
        margin-top: 32px;

        +maxwidth($xl-max) {
            padding: 0;
        }

        li {
            +maxwidth($xl-max) {
                margin-bottom: 15px;
            }
        }

        > * {
            font-family: $paragraph-regular;
        }
    }

    h2 {
        margin-bottom: 12px;
        font-size: 36px;
    }

    .woocommerce-table, .woocommerce-customer-details address {
        font-family: $paragraph-regular;
    }
}