section.cart {
    margin: 56px 0;
    min-height: 30vh;

    > * {
        font-family: $paragraph-regular;
    }

    .woocommerce-info {
        border-top-color: $primary;

        &:before {
            color: $primary;
        }
    }

    table.cart {
        img {
            width: 100px;
        }
    }

    h3 {
        color: $primary;
        margin-bottom: 24px;
    }
}

.woocommerce-message {
    font-family: $paragraph-regular;
}