.main-card {
    display: block;
    position: relative;
    margin-bottom: 32px;

    &--text__wrapper {
        border-width: 0px 2px 2px 2px;
        border-style: solid;
        border-color: $card-border;
        padding: 8px 16px;
        display: flex;
        flex-direction: column;
    }
}