.shop-the-look-filter {
    margin-bottom: 56px;

    .filter--shop-the-look {
        border: 2px solid $primary;
        border-radius: 60px;
        padding: 10px 24px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 16px 0;
        position: relative;

        +maxwidth($md-max) {
            justify-content: flex-start;
        }
    }
}
