footer {
    background-color: $primary;
    padding: 56px 0 16px 0;
}

.menu-footer-menu-container {
    +maxwidth($xl-max) {
        margin-top: 80px;
    }

    +maxwidth($sm-max) {
       margin-top: 32px;
    }
}