.gallery-mobil-slider {
    +minwidth($md-min) {
        display: none;
    }

    +maxwidth($md-max) {
        display: block;
    }

    margin: 32px 0;

    .slick-slide {
        width: 100%;

        img {
            height: 206px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .slick-dots {
        display: flex;
        gap: 10px;
        list-style: none;
        position: absolute;
        bottom: -50px;
        justify-content: center;
        padding: 0;

        .slick-active {
            button {
                opacity: 1;
            }
        }

        button {
            cursor: pointer;
            border: unset;
            background-color: $inactive-dots;
            width: 8px;
            height: 8px;
            border-radius: 8px;
            opacity: 0.5;
            color: transparent;
            font-size: 0;
            padding: 0;
        }
    }
}