.gallery-paginable {
    margin-top: 56px;
    position: relative;

    .gallery-image {
        width: 100%;
        height: 696px;
        object-fit: cover;
        object-position: center;

        +maxwidth($xl-max) {
            height: 400px;
        }

        +maxwidth($sm-max){
            height 184px
        }
    }
}

.post-type-archive-developments-cpt {
    .gallery-paginable {
        margin-top: 0;

        .gallery-image {
            height: 240px;
        }
    }
}