/* Custom style of the WP admin */
#adminmenuback, #adminmenu, #adminmenu .wp-submenu{
    width: 185px;
}

#wpcontent, #wpfooter{
    margin-left: 185px;
}

#adminmenu .wp-submenu{
    left: 185px;
}