.page--get-in-touch {
    margin-bottom: 32px;

    .contact-subject {
        text-align: center;

        a {
            text-decoration: underline;
        }
    }

    .success-form-submit-text {
        display: none;
    }
}