.product-template--furniture-package {
    margin-top: 56px;

    +maxwidth($xl-max) {
        margin-top: 24px;
    }

    .woocommerce-product-gallery__image {
        img {
            width: 100%;
            height: 517px;
            object-fit: cover;
            object-position: center;

            +maxwidth($xl-max) {
                height: 360px;
            }

            +maxwidth($md-max) {
                height: 208px;
            }
        }
    }

    .product-title {
        color: $primary;
        margin-bottom: 24px;

        +maxwidth($xl-max) {
            margin-top: 32px;
        }
    }

    .add_to_cart_button {
        margin-top: 24px;
    }

    .price__wrapper {
        display: flex;
        align-items: center;
        margin-top: 24px;

        p {
            margin-right: 8px;
        }
    }

    .container-spacing {
        margin: 56px 0;
    }

    .individual-products {
        .thumbnail {
            maxwidth($xl-max) {
                width: 100%;
            }
        }
    }

    .custom-tablet-spacing {
        +between($md-max, $xl-max) {
            padding: 0;
        }
    }

    .extra-tablet-spacing {
        +between($md-max, $xl-max) {
            padding: 0 32px;
        }
    }

    .add_to_cart_button {
        +maxwidth($xl-max) {
            text-transform: uppercase;
            padding: 13px 68px;
        }
    }

    .references-slider {
        margin-bottom 40px;
    }

    .products-in-package-slider, .references-slider {
        .slick-slide {
            margin-right: 16px;
        }

        .slick-dots {
            display: flex;
            gap: 10px;
            list-style: none;
            position: absolute;
            bottom: -16px;
            justify-content: center;
            padding: 0;

            .slick-active {
                button {
                    opacity: 1;
                }
            }

            button {
                cursor: pointer;
                border: unset;
                background-color: $inactive-dots;
                width: 8px;
                height: 8px;
                border-radius: 8px;
                opacity: 0.5;
                color: transparent;
                font-size: 0;
                padding: 0;
            }
        }
    }

    .main-card {
        .thumbnail {
            +maxwidth($md-max) {
                height: 160px;
            }
        }
    }
}