.single--developments {
    margin: 24px 0 56px 0;

    .hero-image {
        width: 100vw;
        height: 720px;
        object-fit: cover;
        object-position: center;

        +maxwidth($xl-max) {
            height: 360px;
        }

        +maxwidth($md-max) {
            height: 306px;
        }
    }

    .title {
        text-align: center;
        margin: 56px 0;

        +maxwidth($xl-max) {
            margin: 32px 0;
        }
    }

    .attribute-icons {
        justify-content: space-between;
        margin-top: 74px;

        +maxwidth($md-max) {
            margin-top: 24px;
            justify-content: center;
            gap: 32px;
        }

        .attribute-icons__wrapper {
            display: block;
            position: relative;

            p {
                text-align: center;
            }

            img {
                display: block;
                margin: 0 auto 20px auto;
            }

            &:after {
                content: '';
                width: 70px;
                height: 70px;
                position: absolute;
                background-color: $icon-background;
                display: block;
                top: -15%;
                left: 50%;
                transform: translateX(-50%);
                z-index: -1;
                border-radius: 40px;
            }
        }

        .attribute-name, .attribute-value {
            +maxwidth($md-max) {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .main-card {
        .price {
            font-size: 24px;
            line-height: 32px;
            margin-top: 16px;
        }
    }

    .apartments-title {
        margin: 32px 0;
    }

    .related-apartments-slider {
        .slick-slide {
            margin-right: 16px;
        }

        .slick-dots {
            display: flex;
            gap: 10px;
            list-style: none;
            position: absolute;
            bottom: -16px;
            justify-content: center;
            padding: 0;

            .slick-active {
                button {
                    opacity: 1;
                }
            }

            button {
                cursor: pointer;
                border: unset;
                background-color: $inactive-dots;
                width: 8px;
                height: 8px;
                border-radius: 8px;
                opacity: 0.5;
                color: transparent;
                font-size: 0;
                padding: 0;
            }
        }
    }
}