.template--archive-publications, .template--archive-publication-categories {
    padding-bottom 105px
    position relative

    +maxwidth($xl-max) {
        padding-bottom 80px
    }

    &:before {
        content ''
        width 100%
        height 100%
        position absolute
        top 125px
        left 0
        display block
        background-image url('../img/svg/decor-wave-archive-background.svg')
        background-position center top
        background-size contain
        background-repeat no-repeat repeat
        z-index -1
    }

    .section__archive-publications__header {
        margin 120px 0 100px

        +maxwidth($xl-max) {
            margin 40px 0 32px
        }

        h1 {
            text-align center
            color $primary
            margin 0
        }
    }

    .section__archive-publications__navigation {
        margin-bottom 56px

        .category-badge__wrapper {
            display flex
            gap 24px

            +maxwidth($xl-max) {
                justify-content center
                margin-bottom 24px
                gap 8px
            }

            .category-badge {
                border-radius 100px
                box-shadow 0 24px 32px 0 rgba(0, 0, 0, .06)
                backdrop-filter blur(12px)
                font-family $paragraph
                padding 18px 40px
                text-transform uppercase
                color $primary
                background-color $white
                cursor pointer
                font-weight 500

                +maxwidth($xl-max) {
                    padding 12px 24px
                }

                &.is-active {
                    color $white
                    background $primary
                }
            }
        }

        .publications--search-form {
            width 420px
            border-radius 100px
            border 1px solid $primary
            background $white
            box-shadow 0 16px 64px 0 rgba(0, 71, 221, .12)
            padding 15px 40px
            width 338px
            display flex
            gap 16px

            +maxwidth($xl-max) {
                width calc(100% - 120px)
                margin auto
            }

            input {
                border-bottom 0
                color $primary

                &::placeholder {
                    color $primary
                }
            }
        }
    }
}