.template--contacts {
    padding-bottom 120px
    position relative

    &:before {
        content ''
        width 100%
        height 100%
        position absolute
        top 125px
        left 0
        display block
        background-image url('../img/svg/decor-wave-archive-background.svg')
        background-position center top
        background-size contain
        background-repeat no-repeat
        z-index -1

        +maxwidth($xl-max) {
            display none
        }
    }

    .section__contacts__title {
        margin 120px 0

        +maxwidth($xl-max) {
            margin 40px 0 24px
        }

        h1 {
            text-align center
            color $primary
            margin 0
        }
    }

    .section__contacts__content {
        padding 0
        margin 0
        background-image unset

        .team__wrapper {
            display flex
            flex-wrap wrap

            +maxwidth($xl-max) {
                justify-content center
            }

            +maxwidth($md-max) {
                flex-direction column
            }
        }
    }
}