.not-found {
    background-image url('../img/svg/404.svg')
    width 100vw
    height 100vh
    background-repeat no-repeat
    background-size contain
    background-position center
    position relative

    .not-found__content {
        width 413px
        padding 48px 64px
        position absolute
        border-radius 24px
        background-color $grey
        left 39%
        top 41%
    }

    .not-found__title {
        color #FFF
        font-size 216px
        font-style normal
        font-weight 500
        line-height 224px
        text-align center
    }
}