.contact {
    .form__wrapper {
        padding 32px 32px 125px
        background-color $white
        z-index 999
        border-radius 24px

        +maxwidth($lg-max) {
            margin-bottom 140px
            padding 32px 16px
        }
    }

    &--form {
        label {
            color $black

            span {
                color $light-grey
            }
        }

        .form-group {
            margin-top 16px

            input[type='text'], input[type='email'], input[type='search'], select, textarea {
                border 1px solid $light-grey
            }

            &.checkbox__wrapper {
                margin-top 32px

                label {
                    font-family $open-sans
                    font-style normal
                    font-weight 600

                    p {
                        font-size 12px
                    }

                    span {
                        color $black !important
                        font-weight 600
                    }

                    a {
                        color $text-blue
                    }
                }
            }
        }

        .submit-button {
            margin-top 32px

            button {
                padding 0 60px
            }
        }
    }
}