.single-program-info-card {
    .thumbnail-image {
        max-width 45%
        width 676px
        height auto
        object-fit cover
        object-position center
        border-radius 16px 0 0 16px

        +maxwidth($lg-max) {
            width 100%
            max-width 100%
            border-radius 16px 16px 0 0
        }
    }

    .text__wrapper.text__wrapper {
        background-color $white
        border-radius 0 16px 16px 0
        padding 50px 35px
        min-width 50%

        +maxwidth($lg-max) {
            min-width 100%
            border-radius 0 0 16px 16px
            margin-top -5px
            padding 16px
        }

        &.all-borders-rounded {
            border-radius 16px

            .description__wrapper {
                margin-top 0
            }
        }

        p {
            +maxwidth($lg-max) {
                font-size 14px
                line-height 1.25
            }
        }
    }

    .additional-info__wrapper {
        display block

        +maxwidth($lg-max) {
            display none
        }
    }
}