.category-places-taxonomy {
    .description__wrapper {
        margin-bottom 40px

        p {
            color $purple
            font-family $open-sans
            font-weight 700
            font-size 16px
            line-height 24px
        }
    }

    .program-card {
        margin-top 24px
    }

    .filter-title {
        margin-top 40px

        +maxwidth($xl-max) {
            margin-top 24px
            font-size 32px
            line-height 40px
            color $purple
        }
    }
}