.gallery {
    &--image {
        width 100%
        height 100%
        object-fit cover
        object-position center
        transition transform .3s ease-in-out

        &__wrapper {
            width 435px
            height 365px
            margin-bottom 32px
            overflow hidden

            +maxwidth(1825px) {
                width 100%
                height 285px
            }

            +maxwidth($xl-max) {
                margin-bottom 16px
                height 168px
            }

            +maxwidth($sm-max) {
                width 100%
                height 110px
            }
        }

        &:hover {
            transform scale(1.1)
        }
    }

    .custom-container-spacing {
        +maxwidth($sm-max) {
            --bs-gutter-x 16px
        }
    }
}