.gallery {
    &--title__wrapper {
        background-color $yellow-program-filter
        padding 8px
        border-radius 100px
        height 64px
        display flex
        justify-content center
        position relative
        margin-top 32px
        margin-bottom 32px

        +maxwidth($xs-max) {
            justify-content space-evenly
        }

        .gallery-filter--pill {
            position absolute
            width 33.3%
            height auto
            color #fff
            background-color #f16922
            border-radius 32px
            height 48px
            left 8px
            transition left .3s ease-in-out
        }

        .gallery__titles {
            display block
            width 33.3%
            cursor pointer
            z-index 1
            padding 8px 0

            +between(370px, 425px) {
                width 28%
            }

            +maxwidth($xs-max) {
                padding 8px 16px
            }

            &.selected {
                p {
                    color $white
                }
            }

            p {
                font-family $luckiest
                font-style normal
                font-weight 400
                font-size 16px
                line-height 30px
                color $orange
                text-align center

                +maxwidth($xs-max) {
                    line-height 1
                }
            }
        }
    }
}