.highlighted-programs {
    &--text__wrapper {
        margin-bottom 40px

        +maxwidth($xl-max) {
            margin-bottom 0
        }

        p {
            font-family $open-sans
            font-weight 700
            font-size 18px
            line-height 24px
        }

        h1, h2, h3, h4, h5, h6, p {
            +maxwidth($sm-max) {
                text-align left !important
            }
        }
    }

    +maxwidth($md-max) {
        .col-12 {
            --bs-gutter-x 0
        }

        h2 {
            font-size 40px
            line-height 48px
        }
    }
}