.hero-slider {
    position relative

    &--extra-text__wrapper {
        +maxwidth($xl-max) {
            width 495px
            display block
            margin auto
        }
        
        +maxwidth($lg-max) {
            width 100%
            display block
            margin auto
        }

        p {
            font-family $open-sans
            color $white
            font-weight 400
            font-size 18px
            line-height 24px
        }

        .btn.btn {
            margin-left auto
            margin-right auto

            +maxwidth($xl-max) {
                margin-top 24px
            }
        }
    }

    &--image {
        width 100%
        height 785px
        object-position center
        object-fit cover
        position absolute
        top 0
        left 0
        z-index -1

        +maxwidth($lg-max) {
            height 850px
        }

        &-overlay {
            position absolute
            top 0
            left 0
            width 100%
            height 785px
            background $black
            opacity .3
            z-index -1

            +maxwidth($lg-max) {
                height 875px
            }
        }
    }

    &--text {
        width 924px !important
        margin-left 190px
        padding 185px 0 150px

        +maxwidth($xxl-max) {
            margin-left 100px
            width calc(100% - 100px) !important
            padding 215px 0 150px
        }

        +maxwidth($lg-max) {
            margin-left 0
            margin-right 0
            text-align center
            width 100% !important
            padding 140px 32px 0
        }

        >*:not(.btn) {
            margin-bottom 32px

            +maxwidth($lg-max) {
                margin-bottom 24px
            }

            &:last-child {
                margin-bottom 0
            }
        }

        h1 {
            +maxwidth($lg-max) {
                font-weight 400
                font-size 40px
                line-height 48px
            }
        }

        h4 {
            +maxwidth($lg-max) {
                font-weight 400
                font-size 20px
                line-height 24px
            }
        }
    }

    .btn {
        margin 48px 0 0

        +maxwidth($lg-max) {
            margin 0 auto
        }
    }

    &--extra-text {
        position relative
        margin-top -150px
        padding-top 115px
        padding-bottom 105px
        background-image url('../img/hero-slider-extra-text-background.png')
        background-size cover
        background-position center
        background-repeat no-repeat
        min-height 500px

        +maxwidth($xl-max) {
            padding-top 50px
            padding-bottom 175px
        }

        +maxwidth($xl-max) {
            margin-top -50px
        }

        &:before {
            content url('../img/hero-slider-extra-text-decor.png')
            position absolute
            top -125px
            pointer-events none
            left 50%
            transform translateX(-50%)

            +maxwidth($lg-max) {
                display none
            }
        }

        h1 {
            +maxwidth($xl-max) {
                font-size 40px
                line-height 48px
            }
        }

        p {
            +maxwidth($xl-max) {
                margin-top 8px
                font-weight 700
                font-size 16px
            }
        }
    }
}