.header {
    &--secondary-nav {
        display flex
        gap 40px

        +maxwidth(1199px) {
            display none
        }

        .nav-icon {
            &__wrapper {
                display block
                margin auto 0
            }
        }

        .language-selector {
            position relative
            display block
            margin auto

            li {
                font-family $open-sans
            }

            li.active {
                font-weight 700
                font-size 16px
                line-height 24px
                text-transform uppercase
                display flex
                align-items center

                &:after {
                    content ''
                    background-image url('../img/decor/chevron-down.svg')
                    background-size contain
                    background-position center
                    background-repeat no-repeat
                    width 16px
                    height 16px
                    margin-left 4px
                    cursor pointer
                    transition all 300 ease-in-out
                }

                a {
                    color $white
                    text-decoration none

                    +maxwidth(1199px) {
                        color $red
                    }
                }
            }

            &.active {
                li.active {
                    &:after {
                        transform rotateX(180deg)
                    }
                }
            }

            &--inactive__wrapper {
                display none
            }

            +maxwidth(1199px) {
                position absolute
                bottom 29px
                left 24px
            }
        }

        .generali {
            &__wrapper {
                position relative
                display block
                margin auto 0

                +maxwidth(1199px) {
                    position absolute
                    bottom 16px
                    right 24px
                }

                &:before {
                    content ''
                    width 2px
                    height 40px
                    background-color $white
                    display block
                    position absolute
                    left -24px
                    top 5px
                }
            }

            &-logo {
                width 54px
                height 50px
                object-fit contain
                object-position center
            }
        }
    }
}