.programs {
    .program-card {
        margin-top 40px

        +between($md-max, $lg-max) {
            margin-top 0
            margin-bottom 32px
        }

        +maxwidth($md-max) {
            margin-top 32px
            margin-bottom 0
        }
    }
}