.programs--category-places {
    .subheader__wrapper {
        display flex
        justify-content space-between
        margin-bottom 64px

        +maxwidth($xl-max) {
            flex-direction column-reverse
            justify-content center
            margin-bottom 24px
        }

        .text-block {
            margin-right 144px

            +maxwidth(1499px) {
                margin-right 80px
            }

            +maxwidth($xl-max) {
                margin 0
            }

            +maxwidth($lg-max) {
                padding 0
            }

            p {
                color $purple
                font-family $open-sans
                font-weight 700
                font-size 16px
                line-height 24px
            }
        }

        form {
            +maxwidth($xl-max) {
                display block
                margin-bottom 24px
            }

            .form-group {
                position relative

                input {
                    border none
                    width 328px
                    padding-left 45px

                    +maxwidth($lg-max) {
                        display block
                        margin-left auto
                        margin-right 0
                    }

                    +maxwidth($md-max) {
                        width 100%
                        padding-right 15px
                    }
                }

                &:before {
                    content url('../img/svg/search-icon.svg')
                    position absolute
                    left 16px
                    top 12px

                    +between($md-max, $lg-max) {
                        right 290px
                        top 14px
                        left unset
                    }
                }
            }
        }
    }

    .program-card {
        margin-bottom 32px

        +maxwidth($xl-max) {
            margin-top 0
            margin-bottom 24px
        }
    }

    .program-excerpt {
        display none !important
    }
}
