.program-filter {
    position relative

    &--date-filter {
        background-color $yellow-program-filter
        border-radius 48px
        padding 8px
        display flex

        +between(370px, 425px) {
            justify-content space-evenly
        }

        &--date {
            text-align center
            width 33.3%
            padding 12px 0
            color $red
            font-family $luckiest
            letter-spacing .5px
            font-style normal
            font-weight 400
            font-size 16px
            line-height 24px
            cursor pointer
            z-index 1
            transition color .2s linear

            +between(370px, 425px) {
                width 28%
            }

            +maxwidth($xs-max) {
                padding 4px 12px
                line-height 20px
            }

            +maxwidth(369px) {
                width 32%
            }

            &.selected {
                color $white
            }
        }

        &--pill {
            position absolute
            width 33.3%
            height auto
            color $white
            background-color $orange
            border-radius 32px
            height 48px
            height 48px
            left 8px
            transition left .3s ease-in-out
        }
    }

    .checkbox-filter {
        &--title {
            font-family $open-sans
            font-style normal
            font-weight 700
            font-size 16px
            line-height 24px
            color $text-blue
            margin-top 16px
            margin-bottom 8px
        }

        +between($md-max, $lg-max) {
            &__container {
                width calc(33% - 8px)
            }
        }

        &__wrapper {
            display flex
            gap 8px

            +maxwidth($lg-max) {
                background-color white
                border-radius 24px
                display block
                padding 8px 16px
                margin-bottom 16px
            }

            .checkbox-filter {
                border 2px solid $text-blue
                border-radius 24px
                background-color $white
                padding 10px 16px

                +maxwidth($lg-max) {
                    border 0
                    border-radius 0
                    background-color unset
                    padding 4px 0
                }

                label {
                    color $text-blue
                }
            }
        }
    }

    .filter__group {
        display flex
        justify-content space-between

        form {
            margin-top 48px

            .form-group {
                position relative

                &:before {
                    content url('../img/svg/search-icon.svg')
                    position absolute
                    left 19px
                    top 15px
                }
            }

            input {
                border 2px solid $text-blue
                width 328px
                padding-left 45px
            }
        }
    }

    .checkbox__wrapper--accordion {
        background-color $white
        padding 12px 16px
        font-family $open-sans
        color $grey
        font-weight 400
        border 1px solid $light-grey
        border-radius 30px
        margin-bottom 8px
        position relative
        height 48px
        line-height 24px

        .arrow {
            position absolute
            right 16px
            top 50%
            transform translateY(-50%) rotate(180deg)
        }
    }

    .checkbox-filter--mobile {
        visibility hidden
        opacity 0
        max-height 0
        z-index 999

        +between($md-max, $lg-max) {
            position absolute
            width calc(33% - 16px)
        }

        &.is-visible {
            visibility visible
            opacity 1
            max-height 100vh
        }
    }
}

.category-places-taxonomy {
    .program-filter--date-filter--date {
        +maxwidth($xs-max) {
            padding 4px 20px
        }

        +maxwidth(365px) {
            padding 4px 12px
        }

        +maxwidth(340px) {
            padding 4px 8px
        }
    }

    .program-filter--date-filter--pill {
        +maxwidth($xs-max) {
            width calc(33.3% - 8px)
        }
    }
}

.map {
    position relative

    .program-filter--date-filter {
        background-color $yellow-program-filter
        border-radius 48px
        padding 8px
        display flex

        .program-filter--date {
            text-align center
            width 33.3%
            padding 12px 0
            color $red
            font-family $luckiest
            letter-spacing .5px
            font-style normal
            font-weight 400
            font-size 16px
            line-height 24px
            cursor pointer
            z-index 1
            transition color .2s linear

            +maxwidth($xs-max) {
                padding 4px 12px
                line-height 20px
            }

            &.selected {
                color $white
            }
        }
    }

    .checkbox-filter {
        +maxwidth($sm-max) {
            border 0
            border-radius 0
            background-color unset
            padding 4px 0
        }

        label {
            color $text-blue
        }

        &__wrapper {
            +maxwidth($sm-max) {
                background-color white
                border-radius 24px
                display block
                padding 8px 16px
                margin-bottom 16px
            }
        }
    }

    .filter__group {
        display flex
        justify-content space-between

        form {
            margin-top 48px

            .form-group {
                position relative

                &:before {
                    content url('../img/svg/search-icon.svg')
                    position absolute
                    left 19px
                    top 15px
                }
            }

            input {
                border 2px solid $text-blue
                width 328px
                padding-left 45px
            }
        }
    }

    .checkbox__wrapper--accordion {
        background-color $white
        padding 12px 16px
        font-family $open-sans
        color $grey
        font-weight 400
        border 1px solid $light-grey
        border-radius 30px
        margin-bottom 8px
        position relative

        .arrow {
            position absolute
            right 16px
            top 50%
            transform translateY(-50%) rotate(180deg)
        }
    }

    .checkbox-filter--mobile {
        visibility hidden
        opacity 0
        max-height 0

        &.is-visible {
            visibility visible
            opacity 1
            max-height 100vh
        }
    }
}