.sponsors {
    &-slider {
        margin-top 68px

        +maxwidth($lg-max) {
            margin-top 30px
        }

        .sponsors--image {
            margin 5px auto
            width 112px
            height 56px
            object-fit contain
            object-position center
        }
    }
}