.tabs {
    &--title__wrapper {
        background-color $yellow-program-filter
        padding 8px 24px 5px
        border-radius 100px
        height 72px
        display flex
        justify-content center
        position relative
        margin-bottom 32px

        +maxwidth($xs-max) {
            padding 8px 10px
        }

        .tab__titles {
            display block
            width 50%
            cursor pointer
            z-index 1
            padding 8px 0

            &.selected {
                p {
                    color $white
                }
            }

            .title {
                font-family $luckiest
                font-style normal
                font-weight 400
                font-size 16px
                line-height 24px
                color $red
                text-align center

                +maxwidth($xs-max) {
                    font-size 14px
                }
            }

            .subtitle {
                font-family $open-sans
                font-style normal
                font-weight 400
                font-size 16px
                color $red
                text-align center

                +maxwidth($xs-max) {
                    font-size 14px
                }
            }
        }

        .tab-filter--pill {
            position absolute
            width calc(50% - 8px)
            height auto
            color #fff
            background-color #f16922
            border-radius 32px
            height 56px
            left 8px
            transition left .3s ease-in-out
        }
    }
}