.done-gdpr-alert-box-wrapper.done-gdpr-alert-box-wrapper {
  width: calc(100% - 160px);
  border-radius: 24px;
  box-shadow: 0px 24px 32px 0px rgba(39, 52, 64, 0.08),
    0px 8px 16px 0px rgba(46, 61, 75, 0.16);
  left: 50%;
  transform: translateX(-50%);

  @include max-width($xl-max) {
    width: calc(100% - 36px);
  }

  @include max-width($lg-max) {
    padding-bottom: 24px;
  }

  @include max-width($md-max) {
    border-radius: 16px;
  }

  &.active {
    bottom: 40px;

    @include max-width($md-max) {
      bottom: 24px;
    }
  }

  .done-gdpr-alert-box-bottom-top,
  .done-gdpr-alert-box-bottom-padding {
    display: none;
  }

  .done-gdpr-alert-box-button-container {
    margin-top: -12px;

    @include max-width($xl-max) {
      right: 32px;
    }

    @include max-width($lg-max) {
      position: relative;
      right: 25%;
      margin-top: 0px;
    }

    @include max-width($md-max) {
      position: relative;
      right: -16px;
    }
  }

  .done-gdpr-alert-box-body.done-gdpr-alert-box-body {
    padding-top: 44px;
    padding-bottom: 44px;
    margin-right: 620px;

    @include max-width(1699px) {
      margin-right: 500px;
    }

    @include max-width($xl-max) {
      margin-left: 32px;
      padding-top: 32px;
      padding-bottom: 32px;
      margin-right: 420px;
    }

    @include max-width($lg-max) {
      margin-right: 0;
      padding-right: 32px;
    }

    @include max-width($md-max) {
      padding-right: 16px;
      margin-left: 16px;
      padding-top: 24px;
      padding-bottom: 24px;
    }

    p,
    a {
      font-family: $montserrat;
      font-size: 14px;
      line-height: 20px;
      padding-bottom: 0;
    }

    a {
      color: $secondary500 !important;
      text-decoration: none;
    }
  }

  .done-gdpr-button-more {
    margin-right: 0;

    @include max-width($md-max){
        margin-top: 24px;
        margin-left: 8px;
    }

    .done-gdpr-alert-box-button-middle.done-gdpr-alert-box-button-middle {
      padding: 2px 12px 0 0 !important;
      background-color: transparent !important;
      border-color: transparent !important;
    }

    .done-gdpr-toggle-display.done-gdpr-toggle-display {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      color: $secondary500 !important;
      font-family: $montserrat;
      border-bottom: 0;

      &::before {
        display: none;
      }
    }
  }

  .done-gdpr-alert-box-button {
    margin-right: 0;

    @include max-width($md-max) {
      display: block;
      float: initial;
    }
  }

  .done-gdpr-button-allow {
    .done-gdpr-alert-box-button-middle.done-gdpr-alert-box-button-middle {
      padding: 0 !important;
      background-color: transparent !important;
      border-color: transparent !important;

      a {
        color: $grey1000 !important;
        font-family: $montserrat;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        padding: 18px 32px;
        border-radius: 32px;
        background-color: $primary500;

        @include max-width($xl-max) {
          padding: 14px 24px;
        }

        &::before {
          display: none;
        }
      }
    }
  }
}

#done-gdpr-main-info-text {
  font-family: $montserrat;
}

#done-gdpr#done-gdpr {
  #done-gdpr-popup-wrapper#done-gdpr-popup-wrapper {
    .done-gdpr-white-button-middle.done-gdpr-white-button-middle {
      span {
        font-family: $montserrat;
        color: $grey1000 !important;
      }
    }
  }
}
