.section__offers-grid {
  padding: 56px 0;
  background-color: $grey100;

  @include max-width($xl-max) {
    padding: 40px 0;
  }

  &:has(.offers-grid-slider) {
    @include max-width($xl-max) {
      padding: 32px 0;
    }
  }

  .btn--secondary--arrow{
    margin-top: 24px;
  }
}
