.contact {
    padding-top 120px
    margin-top -80px
    margin-bottom 0
    position relative

    +maxwidth($lg-max) {
        padding-top 110px
    }

    &:after {
        content ''
        background-image url('../img/blue-purple-gradient-background.png')
        background-size cover
        display block
        z-index -1
        left 0
        top 0
        bottom 0
        right 0
        position absolute
        transform rotate(180deg)
    }

    +maxwidth($md-max) {
        .custom-container-spacing {
            --bs-gutter-x 16px
        }
    }
}