.category-places-taxonomy {
    padding-top 120px
    padding-bottom 120px
    margin-top -80px
    background-image url('../img/blue-purple-gradient-background.png')
    background-size cover

    .custom-spacing {
        +maxwidth($md-max) {
            --bs-gutter-x 0
        }

        
    }
}