footer {
    background-image url('../img/footer-background.png')
    background-size cover
    background-position center
    background-repeat no-repeat
    padding 432px 0 56px

    +maxwidth($xl-max){
        padding 0
        background-image unset 
        background-color $dark-blue
    }
}