.highlighted-places {
    background-image url('../img/highlighted-places-background.png')
    background-size cover
    padding-top 155px
    padding-bottom 120px

    +maxwidth(1799px) {
        padding-bottom 210px
        background-position center
    }

    +maxwidth($xxl-max) {
        padding-top 250px
        padding-bottom 250px
    }

    +maxwidth($sm-max) {
        background-image url('../img/highlighted-places-background-mobile.png')
        padding-top 67px
        padding-bottom 67px
        background-position center
        background-size cover
    }

    &:after {
        content ''
        background-image url('../img/decor/balloon.svg')
        background-position center
        background-size contain
        position absolute
        display block
        width 114px
        height 160px
        top 75px
        right 25%

        +maxwidth($lg-max) {
            right 38px
            width 84px
            height 118px
        }

        +maxwidth($sm-max) {
            right 16px
            top 0
        }
    }

    & + .text-block-section {
        +between($md-max, $lg-max) {
            margin-top -120px
            z-index 9
            position relative
        }
    }
}

.home {
    .highlighted-places {
        margin-top -160px
        z-index 9
        position relative

        +maxwidth(1799px) {
            margin-top -185px
        }

        +maxwidth(1499px) {
            margin-top -200px
        }

        +maxwidth($xxl-max) {
            margin-top -255px
        }

        +maxwidth($sm-max) {
            margin-top -85px
        }
    }
}