.news {
    background-image url('../img/blue-purple-gradient-background.png')
    background-position center
    background-size cover
    position relative
    margin-top -70px
    padding-top 100px
    padding-bottom 140px

    .custom-container-spacing {
        +maxwidth($md-max) {
            --bs-gutter-x 0
            margin-bottom 0
        }
    }

    .program-card{
        margin-top 24px
    }
}
