.programs {
    &--category-places {
        padding 134px 0
        margin-top -80px
        background-image url('../img/blue-purple-gradient-background.png')
        background-position center
        background-size cover

        +maxwidth($xl-max) {
            padding 110px 0 125px
        }
    }
}
