.quotes-slider {
    margin-top 56px
    margin-bottom 128px
    position relative

    +maxwidth($lg-max) {
        margin-top 0
    }

    &:before {
        content ''
        background-image url('../img/decor/decor-quotes.svg')
        background-repeat no-repeat
        background-size contain
        width 495px
        height 395px
        display block
        position absolute
        top -25px
        left 13%
        z-index -1

        +maxwidth($lg-max) {
            left -25px
            width 339px
            height 269px
        }
    }
}