.single-news {
    margin-top 120px
    margin-bottom 32px

    +maxwidth($lg-max) {
        margin-top 40px
    }

    &__title {
        margin-bottom 24px
    }

    &__date-read {
        position relative
        font-weight 700
        font-size 14px
        line-height 24px
        color $purple
        margin-bottom 24px
        display flex
        justify-content space-between

        +maxwidth($sm-max) {
            display block
            margin-bottom 0
        }

        p {
            display inline-block
            width fit-content
            font-family $open-sans
        }
    }

    &__dot {
        font-weight 400
        padding 0 8px
    }

    &__icon {
        display inline-block
        width 32px
        height 32px

        &__wrapper {
            +maxwidth($sm-max) {
                margin-top 8px
            }
        }
    }

    &__excerpt {
        font-family $open-sans
        color $purple
        font-weight 700
        font-size 18px
        line-height 24px
    }
}

.single-news-cpt {
    .text-block__wrapper {
        p {
            font-size 16px
            font-weight 400
            line-height 24px
            color $black

            strong {
                font-size 700
            }
        }
    }

    .share {
        margin-top 40px

        &__title {
            color $purple
            font-family $open-sans
            font-weight 700
            font-size 16px
            line-height 24px
        }

        .icon {
            max-width fit-content
            display inline-block
            padding 16px 0
        }

        .back-to-new {
            position relative
            font-family $open-sans
            color $text-blue
            font-weight 700
            font-size 14px
            line-height 24px
            margin-left 32px
            padding 14px 0

            &:before {
                content ''
                height 24px
                width 24px
                position absolute
                background-image url('../img/arrow_left.png')
                left -30px
                transition all .3s ease-in-out
            }

            &:hover {
                &:before {
                    transform translateX(-4px)
                }
            }
        }
    }

    .text-block-section {
        +maxwidth($sm-max) {
            margin-top 16px
            margin-bottom 24px
        }
    }
}