.service {
    background-image url('../img/blue-purple-gradient-background.png')
    background-position center
    background-size cover
    position relative
    margin-top -65px
    padding-top 90px
    padding-bottom 128px

    .cloud {
        position absolute
        bottom -1px
        bottom -165px
        left 0
        z-index 1
    }
}
