.text-block-section {
    margin-top 64px
    margin-bottom 56px

    +maxwidth($md-max) {
        margin-top 32px
        margin-bottom 32px
    }

    & + .sponsors {
        margin-top 150px
    }

    .text-block__wrapper {
        white-space pre-wrap
        word-wrap break-word
    }
}
