.youtube-block {
    .video__wrapper {
        position relative
    }

    & + .highlighted-programs {
        margin-top 75px
    }

    .hero-slider-video + &, .hero-slider + & {
        margin-top 50px
    }
}