.section__apartment-cards {
    .apartments-card__wrapper {
        position relative

        +maxwidth($xxl-max) {
            margin-bottom 24px
        }
    }

    .apartment-card__header {
        position relative
        border-radius 16px 16px 0 0
        overflow hidden

        .apartment-card-gallery {
            position relative
            cursor pointer

            img {
                width 100%
                height 240px
            }
        }

        .btn--arrow {
            img {
                width 100%
            }
        }

        .apartment-gallery-prev, .apartment-gallery-next {
            position absolute
            z-index 9
            top 50%
        }

        .apartment-gallery-prev {
            left 24px
            transform translateY(-50%) rotate(180deg)
        }

        .apartment-gallery-next {
            right 24px
            transform translateY(-50%)
        }

        .apartment-card__badge__container {
            display flex
            justify-content space-between
            width calc(100% - 48px)
            position absolute
            top 24px
            left 24px
            right 24px

            .apartment-card__badge__wrapper {
                display flex
                gap 14px

                .badge {
                    cursor default
                    border-radius 4px
                    color $white
                    font-family $paragraph
                    font-size 12px
                    font-style normal
                    font-weight 600
                    line-height 20px
                    padding 2px 12px
                }

                .badge--primary {
                    background-color $primary
                }

                .badge--secondary {
                    background-color #77C5D5
                }
            }
        }
    }

    .apartment-card__body {
        padding 32px 24px
        background-color #F9F9F9
        display flex
        flex-direction column
        gap 24px

        .apartment-card__title {
            color #101010
            font-size 32px
            font-style normal
            font-weight 500
            line-height 48px
            font-family $paragraph
        }

        .apartment-card__price {
            color $primary
            font-size 24px
            font-style normal
            font-weight 500
            line-height 32px
        }

        .apartment-card__attributes__wrapper {
            display flex
            gap 24px

            .apartment-card__attribute {
                display flex
                align-items center
                gap 8px

                img {
                    width 16px
                    height 16px
                }

                p {
                    color #101010
                }
            }
        }
    }

    .apartment-card__footer {
        display flex
        gap 16px
        padding 16px 24px
        border-radius 0 0 16px 16px
        overflow hidden
        background-color $primary

        .apartment-card__footer__icon__wrapper {
            position relative

            img {
                cursor pointer
            }
        }
    }
}