.section__contacts {
    .contacts__contact-details {
        display flex
        gap 10px

        &:not(:last-of-type) {
            margin-bottom 16px
        }

        > * {
            font-size 16px
            font-style normal
            font-weight 400
            line-height 24px
            font-family $paragraph
            color $dark
        }

        img{
            width 24px
            height 24px
        }
    }
}