.filter-form--group {
    display flex
    align-items center
    justify-content flex-start
    min-width 310px

    +maxwidth($xl-max) {
        flex-direction column
        align-items flex-start
    }

    label {
        color $white
        leading-trim both
        text-edge cap
        font-family $paragraph
        font-size 16px
        font-style normal
        font-weight 500
        line-height 24px
        text-transform uppercase
        cursor default
        margin-right 16px
    }

    .label--title {
        min-width 77px

        +maxwidth($xl-max) {
            margin-bottom 12px
        }
    }

    .input-group {
        display flex
        border 2px solid $primary
        align-items center
        padding 6px 24px
        border-radius 100px
        background $filter-input-background

        span {
            cursor default
            color $white
            leading-trim both
            text-edge cap
            font-family $paragraph
            font-size 16px
            font-style normal
            font-weight 300
            line-height 24px
            text-transform uppercase
        }

        .input-group__divider {
            width 1px
            height 40px
            background-color $white
            opacity .2
            margin-right 10px
        }

        input[type='text'] {
            border 0
            outline 0
            width 30px
            padding 8px 0 8px 10px
            font-family $paragraph
            font-size 16px
            line-height 24px
            color $white
            font-weight 500

            &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                -webkit-appearance none
                margin 0
            }

            &::placeholder, &::-webkit-input-placeholder, &:-ms-input-placeholder {
                color $white
                font-weight 500
            }
        }
    }

    .checkbox-group {
        display flex
        gap 8px

        label {
            display block
            position relative
            cursor pointer
            user-select none
            background-color $filter-input-background
            border-radius 100px
            width 56px
            height 56px
            display flex
            align-items center
            justify-content center
            margin-right 0
        }

        input[type='checkbox'] {
            position absolute
            opacity 0
            cursor pointer
            height 0
            width 0
        }

        input:checked {
            display block
        }

        label:has(input:checked) {
            background-color $primary-lighter
        }
    }
}

.filter-form--group--divider {
    display flex

    &:before {
        content ''
        height 56px
        width 1px
        padding 0
        margin 0 16px
        background-color $white
        opacity .2

        +maxwidth($xl-max) {
            display none
        }
    }
}

.filter-form--button--divider {
    &:after {
        content ''
        height 56px
        width 1px
        padding 0
        margin 0 16px
        background-color $white
        opacity .2
    }
}