.section__gallery-modal {
    .panorama-slider-modal__wrapper {
        position relative
        width 1165px
        margin 0 auto
    }

    .panorama-slider-modal-prev, .panorama-slider-modal-next {
        z-index 99999
        position absolute
        top 50%
    }

    .panorama-slider-modal-prev {
        left 0
        transform translate(-50%, -50%) rotate(180deg)
    }

    .panorama-slider-modal-next {
        right -40px
        transform translate(-50%, -50%)
    }

    .slick-dots {
        display flex
        justify-content center
        gap 16px
        margin-top 44px

        li {
            list-style none

            &.slick-active {
                button {
                    opacity 1
                    background-color $white
                }
            }

            button {
                padding 0
                font-size 0
                width 8px
                height 8px
                border-radius 100%
                background-color transparent
                border 1px solid $white
            }
        }
    }

    .close-panorama-slider-modal {
        position absolute
        top 60px
        right -20px
        z-index 9999999
        background-color $white
        border-radius 50px
        width 28px
        height 28px
        padding 5px
        cursor pointer
    }
}