.header__logo {
    display block
    margin 0 auto
    width 200px
    height 48px
    position relative

    +maxwidth($xxl-max) {
        width 140px
        height auto
        margin auto
    }
}

.menu-header-menu-container {
    display flex
    align-items center

    +maxwidth($xl-max) {
        align-items unset
    }
}

.header__menu {
    display flex
    gap 32px
    list-style none
    padding 0

    +maxwidth($xxl-max) {
        gap 16px
    }

    +maxwidth($xl-max) {
        flex-direction column
        gap 32px
    }

    li {
        leading-trim both
        text-edge cap
        font-size 16px
        font-style normal
        font-weight 500
        line-height 24px
        text-transform uppercase
        font-family $paragraph
        overflow hidden
        position relative
        z-index 9999999

        +maxwidth($xxl-max) {
            font-size 14px
        }

        +maxwidth($xl-max) {
            font-size 24px
            line-height 32px
        }

        a {
            color $primary-lighter
        }
    }
}

.header__language-selector {
    list-style none
    leading-trim both
    text-edge cap
    font-size 24px
    font-style normal
    font-weight 500
    line-height normal
    width fit-content
    text-align center
    font-family $paragraph
    padding 0
    position relative
    display flex
    color $primary-lighter

    +maxwidth($xxl-max) {
        font-size 20px
    }

    +maxwidth($xl-max) {
        margin-bottom 24px
    }

    &:after {
        content url('../img/svg/arrow-blue-outlined.svg')
        cursor pointer
        margin-left 8px
        transition transform .3s ease-in-out
    }

    &.is-active {
        &:after {
            transform rotate(180deg)
        }
    }

    li a {
        text-transform uppercase

        &:visited {
            color $primary-lighter
        }
    }

    li:not(.active) a {
        color $white
    }
}

.hidden-languages {
    list-style none
    display none
    border-radius 16px
    background $primary-lighter
    backdrop-filter blur(12px)
    padding 16px
    color $white
    leading-trim both
    text-edge cap
    font-size 12px
    line-height 24px
    font-style normal
    font-weight 500
    text-transform uppercase
    font-family $paragraph
    position absolute
    left -15px
    top 30px
    width 56px

    +maxwidth($xxl-max) {
        width 46px
    }

    &.is-visible {
        display block
    }
}

.header__apartment-selector {
    position relative

    .header__apartment-selector--title {
        color $white
        background-color $primary-lighter
        text-align center
        border-radius 32px
        padding 12px 24px
        font-family $paragraph
        text-transform uppercase
        display flex
        align-items center
        cursor pointer

        +maxwidth($xxl-max) {
            padding 12px 10px
        }

        &:after {
            content url('../img/svg/arrow-white-outlined.svg')
            cursor pointer
            display block
            margin-left 8px
            width 16px
            height 16px
            transition transform .3s ease-in-out
        }

        &.is-active {
            &:after {
                transform rotate(180deg)
            }
        }

        p {
            +maxwidth($xxl-max) {
                font-size 14px
            }
        }
    }

    .header__apartment-selector--dropdown {
        position absolute
        top 52px
        left 0
        width 100%
        background $primary-lighter
        backdrop-filter blur(12px)
        border-radius 32px
        padding 24px
        display none
        width calc(272px - 48px)

        +maxwidth($xxl-max) {
            width calc(219px - 48px)
        }

        &.is-visible {
            display block
        }

        a {
            display block
            text-align left
            color $white
            font-family $paragraph
            text-transform uppercase
            font-size 12px
            line-height 24px
        }
    }

    .header__apartment-selector--divider {
        background-color $white
        margin 18px 0
        width 100%
        height 2px

        +maxwidth($xxl-max) {
            margin 9px 0
        }
    }
}

.header__phone-number {
    color $primary
    font-family $paragraph
    font-weight 500
    font-size 16px
    line-height 24px
    leading-trim both
    text-edge cap
    display flex
    align-items center

    +maxwidth($xxl-max) {
        font-size 14px
    }

    img {
        margin-right 6px
    }

    &.animated-text {
        &:after {
            left 22px
        }
    }
}

.header__primary-navigation {
    display flex
    gap 32px
    align-items center
    justify-content flex-end
}

.header__live-button {
    border-radius 100px
    background $primary
    box-shadow 0 16px 64px 0 rgba(0, 71, 221, .12)
    backdrop-filter blur(12px)
    padding 4px 20px 11px
    color $white
    font-family $paragraph
    font-size 12px
    font-style normal
    font-weight 500
    text-align center

    +maxwidth(1299px) {
        padding 4px 18px 11px
    }

    +maxwidth($xl-max) {
        padding 8px 14px
        font-size 10px
    }

    img {
        display block
        width 27px
        height 27px
        margin auto
        padding 10px 0 0

        +maxwidth(1299px) {
            width 20px
            height 20px
        }

        +maxwidth($xl-max) {
            padding 0
        }
    }
}

head + body.home, head + body.page-template-default, head + body.page-template-template-benefits  {
    .header__menu {
        li {
            a {
                color $white

                +maxwidth($xl-max) {
                    color $primary
                }
            }
        }
    }

    .header__language-selector {
        li a {
            color $white
        }

        &:after {
            content url('../img/svg/arrow-white-outlined.svg')
        }
    }

    .header__phone-number {
        color $white
    }

    .header__apartment-selector--dropdown, .hidden-languages {
        background $light-grey
    }
}