.section__image-text {
    .image-text__text__shortened-text {
        .image-text__text__shortened-text__show-more {
            text-align center
            margin-top 26px

            +minwidth($xl-min) {
                display none
            }
        }

        .image-text__text__shortened-text__hidden-text {
            +maxwidth($xl-max) {
                display none
            }
        }
    }
}