.section__panorama-slider {
    .panorama-slider__naviagtion {
        display flex
        justify-content center
        align-items center
        gap 24px
        margin-top 24px

        .slick-dots {
            display flex
            justify-content center
            gap 16px
            padding 0

            li {
                list-style none

                &.slick-active {
                    button {
                        opacity 1
                        background-color $white
                    }
                }

                button {
                    padding 0
                    font-size 0
                    width 8px
                    height 8px
                    border-radius 100%
                    background-color transparent
                    border 1px solid $white
                }
            }
        }

        .panorama-slider-prev, .panorama-slider-next {
            width 56px
            height 56px

            +maxwidth($md-max) {
                display none !important
            }

            img {
                width 16px
            }
        }

        .panorama-slider-prev {
            img {
                transform rotate(180deg)
            }
        }
    }

    .slick-slide {
        margin 0 12px
    }

    .slick-list {
        margin 0 -12px
    }
}