.section__search-details {
    margin 40px 0

    .available-apartments {
        color #1E2F55

        +maxwidth($xl-max) {
            font-size 40px
            line-height 48px
        }
    }

    .primary-filter-parameters {
        margin-top 8px
        color #7B7B7B
        font-size 16px
        font-style normal
        font-weight 400
        line-height 24px
    }

    .secondary-filter-parameters {
        margin-top 16px
        display flex
        gap 16px

        .badge {
            background-color $primary-lighter
            color $white
            width fit-content
            display flex
            gap 16px
            align-items center
            cursor pointer
            padding 8px 12px
            border-radius 4px

            p {
                font-size 12px
                line-height 1
            }

            img {
                width 16px
                height 16px
            }
        }

        .delete-filter {
            display flex
            align-items center
            gap 7px
            cursor pointer

            img {
                width 16px
                height 16px
            }
        }
    }
}