.success-contact-form-submit {
    margin-top 28px
    display none

    &.is-visible {
        display block
    }

    > *:not(:last-child) {
        margin-bottom 32px
    }

    >* {
        color $primary
    }
}