.wishlist__modal {
    .wishlist__arrow {
        transform rotate(180deg)
        transition transform .3s ease-in-out
    }

    .wishlist__header--title {
        font-family $paragraph
        color $white
        leading-trim both
        text-edge cap
        font-size 24px
        font-style normal
        font-weight 500
        line-height 32px
        text-transform uppercase
    }

    .wishlist__header--subtitle {
        font-family $paragraph
        color $white
        leading-trim both
        text-edge cap
        font-size 16px
        font-style normal
        font-weight 500
        line-height 24px
        text-transform uppercase
    }

    .toggle-wishlist-modal {
        display flex
        align-items center
        cursor pointer
        gap 14px
    }

    .delete-wishlist-item {
        margin-left auto
        cursor pointer
    }

    ::-webkit-scrollbar {
        width 12px
    }

    ::-webkit-scrollbar-track {
        background-color $primary
    }

    ::-webkit-scrollbar-thumb {
        background-color $white
        border-left 2px $primary solid
        border-right 3px $primary solid
        background-clip padding-box
        border-radius: 4px;
    }
}