.movie-list__wrapper {
  position: relative;

  &:hover {
    @include min-width($xl-min) {
      .movie-slider-arrow-left,
      .movie-slider-arrow-right {
        transform: translateX(0);
      }
    }
  }

  .movie-slider-arrow-left,
  .movie-slider-arrow-right {
    width: 160px;
    height: 100%;
    display: block;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .movie-slider-arrow-left {
    left: 0;
    top: 0;
    transform: translateX(-100%);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.35) 0.3%,
      rgba(0, 0, 0, 0) 99.34%
    );
  }

  .movie-slider-arrow-right {
    right: 0;
    top: 0;
    transform: translateX(100%);
    background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    margin: 0 16px;
    height: inherit !important;

    @include max-width($xl-max) {
      margin: 0 12px;
    }

    @include max-width($md-max) {
      margin: 0 8px;
    }

    > div {
      border-radius: 16px;
      overflow: hidden;
      height: 100%;
    }
  }

  .slick-list {
    margin: 0 -16px;
    padding: 0 80px;

    @include max-width($xl-max) {
      margin: 0 -12px;
      padding: 0 24px;
    }

    @include max-width($md-max) {
      margin: 0 -8px;
      padding: 0 16px;
    }
  }

  .slick-disabled {
    display: none !important;
  }

  .movie-list-slider__arrow--left,
  .movie-list-slider__arrow--right {
    border-radius: 50%;
    border: 2px solid $white;
    position: absolute;
    top: 50%;
    padding: 14px;
    z-index: 2;

    @include max-width($xl-max) {
      display: none !important;
    }
  }

  .movie-list-slider__arrow--left {
    left: 32px;
    transform: translateY(-50%);
  }

  .movie-list-slider__arrow--right {
    right: 32px;
    transform: translateY(-50%) rotate(180deg);
  }
}
