.apartment-list-card {
    padding 24px
    border-radius 16px
    background $white
    box-shadow 0 24px 32px 0 rgba(0, 0, 0, .1)
    display flex
    position relative
    transition box-shadow .3s ease-in-out

    +maxwidth($xl-max) {
        flex-direction column
        width 42%
    }

    +maxwidth($md-max) {
        width auto
    }

    &:hover {
        box-shadow 0 16px 64px 0 rgba(0, 71, 221, .12)
    }

    &:not(:last-of-type) {
        margin-bottom 24px
    }

    &:nth-of-type(odd) {
        +maxwidth($xl-max) {
            float left
            margin-right 16px
        }

        +maxwidth($md-max) {
            margin-right 0
            float unset
        }
    }

    &:nth-of-type(even) {
        +maxwidth($xl-max) {
            float right
        }

        +maxwidth($md-max) {
            float unset
        }
    }

    .apartment-list-card__left {
        width 46%
        display flex

        +maxwidth($xl-max) {
            flex-direction column
            width 100%
        }

        &:after {
            content ''
            height 100px
            width 1px
            padding 0
            margin-left auto
            background-color $grey

            +maxwidth($xl-max) {
                height 1px
                width 100%
                margin 16px 0
            }
        }

        h6 {
            margin 0

            +maxwidth($xl-max) {
                margin 16px 0 0
            }
        }
    }

    .apartment-list-card__right {
        width 54%
        padding-left 24px

        +maxwidth($xl-max) {
            padding-left 0
        }

        h6 {
            +maxwidth($xl-max) {
                font-size 16px
                line-height 24px
            }
        }
    }
}