.section__apartment-cards {
    padding 106px 0 80px
    background-image url('../img/svg/decor-wave-blue-bottom-half.svg')
    background-repeat no-repeat
    background-position top
    background-size contain

    +maxwidth($xl-max) {
        padding 106px 0 56px
    }

    .section__apartment-cards__title {
        text-align center
        color $primary
        margin 0 0 34px
    }

    .show-all-apartments {
        margin 64px auto 0
        width fit-content
        display block

        +maxwidth($xl-max) {
            margin 24px auto 0
        }
    }
}