.section__filterable-map {
    overflow hidden
    position relative

    .filterable-map {
        width 100%
        height 1044px

        .leaflet-control-container {
            display none
        }
    }
}