.section__feature-toggle {
    padding-bottom 160px
    background-image url('../img/svg/decor-feature-toggle.svg')
    background-position center

    +maxwidth($xl-max) {
        padding-bottom 80px
    }

    +maxwidth($md-max){
        padding-bottom 40px
    }

    .section__feature-toggle__title {
        color $primary
        text-align center
    }

    .feature-toggle__switcher__wrapper {
        display flex
        gap 40px
        justify-content center
        align-items center
        margin-bottom 40px

        .feature-toggle__title {
            margin 0

            +maxwidth($md-max) {
                font-size 16px
                line-height 24px
            }

            &.is-active {
                color $primary-lighter
            }
        }
    }

    .feature-toggle__switcher {
        width 82px
        height 42px
        background $primary-lighter
        border-radius 22px
        position relative
        cursor pointer

        +maxwidth($md-max) {
            height 38px
            width 76px
        }

        &:before {
            content ''
            display block
            position absolute
            width 40px
            height 40px
            background-color $white
            border-radius 40px
            top 1px
            left 1px
            transition left .3s ease-in-out
            filter drop-shadow(0 0 16px rgba(0, 0, 0, .16))

            +maxwidth($md-max) {
                width 36px
                height 36px
            }
        }

        &.is-switched {
            &:before {
                left 50%
            }
        }
    }

    .container--download-pdf {
        margin-top 64px

        +maxwidth($xl-max) {
            margin-top 40px
        }
    }
}