header {
    padding 36px 0
    position relative

    &:before {
        content ''
        width calc(55vw + 72px)
        height 71px
        background-color $white
        display block
        position absolute
        top 0
        left 0
        transition transform .3s ease-in-out
        transform translateX(-100%)
        display none

        +maxwidth($xl-max) {
            display block
        }

        +maxwidth($sm-max) {
            width 100vw
        }
    }

    &.has-extra-background {
        &:before {
            transform translateX(0)
        }
    }

    +maxwidth($xl-max) {
        position relative
        padding 16px 24px
    }

    +maxwidth($md-max) {
        padding 11px 24px
    }
}

.header--mobile {
    +maxwidth($xl-max) {
        display flex
        align-items center
    }

    +minwidth($xl-min) {
        display none
    }

    .header--mobile--menu {
        position absolute
        width 55vw
        background-color $white
        top 71px
        left 0
        height calc(100vh - 191px)
        padding 60px 32px 60px 40px
        z-index 999999999
        transition transform .3s ease-in-out
        transform translateX(-100%)
        display flex
        flex-direction column
        justify-content space-between

        &.is-active {
            transform translateX(0)
        }

        +maxwidth($sm-max) {
            width calc(100vw - 100px)
        }
    }
}

.header__secondary-navigation {
    display flex
    gap 32px
    align-items center

    +maxwidth($xxl-max) {
        gap 16px
    }
}