.section__information-card {
    margin-top 40px
    margin-bottom 120px

    +maxwidth($xl-max){
        margin-top 80px
        margin-bottom 40px
    }

    +maxwidth($md-max){
        margin-top 64px
    }

    .section__information-card__wrapper {
        display flex
        gap 24px
        justify-content center

        +maxwidth($xl-max) {
            flex-wrap wrap
        }
    }
}