.image-switcher__wrapper {
    .image-switcher {
        display flex
        width 719px
        height 671px
        overflow hidden

        +maxwidth($md-max) {
            width 100%
            height auto
        }

        .image-to-switch {
            width 100%
            height 100%
            transition transform 1s ease-in-out

            &.is-image-switched {
                transform translateX(-100%)
            }
        }
    }

    .image-toggle {
        position relative
        border-radius 100px
        border 8px solid $primary-lighter
        background-color #003CBC
        box-shadow 0 16px 64px 0 rgba(0, 71, 221, .12)
        backdrop-filter blur(12px)
        cursor pointer
        width 70px
        display flex
        justify-content space-between
        padding 8px 13px
        margin-left auto

        +maxwidth($xl-max) {
            margin 16px 0 24px
        }

        p {
            color $white
            font-size 18px
        }

        .icon-switcher-icon {
            position absolute
            left 0
            top 0
            transform translateX(0)
            transition transform 1s ease-in-out
            display block

            &.is-toggled {
                transform translateX(55px) rotate(360deg)
            }
        }
    }
}