.section__gallery-modal {
    width 100vw
    height 100vh
    z-index 99999
    position absolute
    left 0
    right 0
    display none

    &:after {
        content ''
        background-color rgba(44, 62, 177, .3)
        backdrop-filter blur(12px)
        background-image url('../img/svg/decor-wave-white.svg')
        background-size cover
        background-repeat no-repeat
        background-position top center
        position absolute
        top 0
        bottom 0
        display block
        width 100vw
        height 100vh
    }

    &.is-active {
        display block
    }

    .panorama-slider-modal {
        z-index 999
        padding-top 75px

        .slider-image {
            height 765px
        }
    }
}

.fancybox__container {
    --fancybox-bg transparent
    z-index 9999999

    &:after {
        content ''
        background-color rgba(44, 62, 177, .3)
        backdrop-filter blur(12px)
        background-image url('../img/svg/decor-wave-white.svg')
        background-size cover
        background-repeat no-repeat
        background-position top center
        position absolute
        top 0
        bottom 0
        display block
        width 100vw
        height 100vh
    }

    .fancybox__content>.f-button.is-close-btn {
        --f-button-color $primary
        --f-button-hover-color $primary
        --f-button-bg $white
        --f-button-hover-bg $white
        --f-button-active-bg $white
        border-radius 50px
        width 28px
        height 28px
        padding 5px
    }
}