.section__image-text {
    padding 126px 0 58px

    +maxwidth($xl-max) {
        padding 58px 0 0
    }

    +maxwidth($lg-max){
        padding 40px 0 0
    }

    .image-text__image {
        width 868px
        height 868px

        +maxwidth(1699px) {
            width 650px
            height 650px
        }

        +maxwidth(1399px) {
            width 500px
            height 500px
        }

        +maxwidth($xl-max) {
            width 100%
            height 768px
        }

        +maxwidth($lg-max){
            height 320px
        }
    }

    .image-text__text__wrapper {
        display flex
        height 100%
        justify-content center
        align-items center
        flex-direction column

        > * {
            color $primary
        }

        h4 {
            font-size 32px
            line-height 40px
        }
    }

    .youtube-player {
        position relative

        .youtube-player__icon {
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%)
            cursor pointer
        }

        iframe {
            width 800px
            height 450px
        }
    }

    .container-fluid-custom-spacing {
        +maxwidth($xl-max) {
            padding 0
        }

        .image-text__text__wrapper {
            padding 26px 24px 0
        }
    }
}

.section__image-text--background {
    background-color $primary
    background-image url('../img/svg/decor-wave-blue.svg')
    background-size contain
    background-repeat no-repeat
    background-position top center

    .image-text__text__wrapper > * {
        color $white !important
    }
}
