.section__text-with-decor {
    position relative
    padding 320px 0

    .section__text-with-decor__image {
        width 750px
        height 670px
        position absolute
        top -100px
        left 0
    }
}