.btn, button {
    display inline-block
    text-align center
    white-space nowrap
    vertical-align middle
    user-select none
    border-style inset
    border none
    color $red
    background $yellow-secondary
    font-family $luckiest
    padding 12px 24px
    font-size 16px
    line-height 24px
    border-radius 100px
    height 56px
    cursor pointer
    z-index 99
    position relative
    transition all .3s ease-in-out

    &:hover {
        color $black
        background $orange-lighter 
    }

    &--centered {
        padding-top 16px
        margin 40px auto 0
        display block
        width fit-content
        min-width 168px
    }
}

.go-to-programs {
    color $text-blue
    font-family $open-sans
    font-weight 700
    font-size 14px
    line-height 28px
    margin-top 14px
    margin-left 11px
    display flex

    +maxwidth($xl-max) {
        line-height 32px
    }

    +maxwidth($lg-max){
        margin-top 46px
    }

    &:before {
        content url('../img/svg/arrow-right-purple.svg')
        transform rotate(180deg) translateX(7px)
        width 24px
        height 24px
        margin-top 3px
        display inline-block
        transition transform .3s ease-in-out
    }

    &:hover {
        &:before {
            transform rotate(180deg) translateX(11px)
        }
    }
}