.contact-modal {
    background-image url('../img/svg/modal-decor.svg')
    background-repeat no-repeat
    background-size auto
    background-position bottom

    +maxwidth($md-max) {
        background-image unset
    }

    &--close {
        position absolute
        top 38px
        right 38px
        cursor pointer

        +maxwidth($md-max) {
            top 16px
            right 16px
        }
    }
}

.overlay {
    background-color $black
    opacity .5
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    z-index 99999
    display none

    &.is-visible {
        display block
    }
}

.modal-success, .modal-error {
    display none
}