.cta {
    &:before {
        content ''
        position absolute
        width 285px
        height 270px
        background-image url('../img/lama.png')
        background-size contain
        background-repeat no-repeat
        left 50px
        top -45px

        +maxwidth($xl-max) {
            left -65px
            top -45px
        }

        +maxwidth($lg-max) {
            display none
        }
    }

    &:after {
        content ''
        position absolute
        background-image url('../img/leghajo.png')
        background-size contain
        background-repeat no-repeat
        width 250px
        height 235px
        right 25px
        top -18px

        +maxwidth($xl-max) {
            right -100px
            top -50px
        }

        +maxwidth($lg-max) {
            display none
        }
    }
}