.contact {
    &:before {
        content ''
        background-image url('../img/decor/space-rocket.svg')
        background-size contain
        background-repeat no-repeat
        display block
        width 212px
        height 264px
        position absolute
        left 400px
        top 260px
        z-index 9

        +maxwidth(1650px) {
            left 300px
        }

        +maxwidth($xxl-max) {
            left 50px
        }

        +maxwidth($lg-max) {
            width 117px
            height 168px
            left 10px
            transform rotate(15deg)
        }

        +maxwidth($md-max) {
            display none
        }
    }

    .form__wrapper {
        position relative

        &:before {
            content ''
            background-image url('../img/decor/balloon.svg')
            background-size contain
            background-repeat no-repeat
            display block
            width 114px
            height 160px
            position absolute
            right -60px
            top -80px
            z-index 9

            +maxwidth($lg-max) {
                width 82px
                height 128px
                right -30px
            }

            +maxwidth($md-max) {
                display none
            }
        }

        &:after {
            content ''
            background-image url('../img/decor/balloons.svg')
            background-size contain
            background-repeat no-repeat
            display block
            width 120px
            height 200px
            position absolute
            right -90px
            bottom 22%
            z-index 9

           +maxwidth($lg-max) {
                width 86px
                height 160px
                right -75px
            }

            +maxwidth($md-max) {
                display none
            }
        }
    }
}