.faq {
    .cloud {
        margin-bottom -165px
    }

    .plus-minus-toggle {
        position absolute
        right 0
        top 50%
        transform translateY(0)
        cursor pointer
        height 21px
        width 21px

        &:before, &:after {
            background $purple
            content ''
            height 2px
            left 0
            position absolute
            top 0
            width 21px
            transition transform 500ms ease
            border-radius 25px
        }

        &:after {
            transform-origin center
        }

        &.collapsed {
            &:after {
                transform rotate(90deg)
            }

            &:before {
                transform rotate(180deg)
            }
        }
    }
}