.hero-slider {
    .slick-slide {
        position relative
    }

    .slick-list {
        min-height 785px
    }

    .slick-dots {
        position absolute
        position absolute
        bottom 165px
        left 50%
        margin-top 0

        button {
            background-color $white !important
        }
    }

    .is-free-badge {
        position absolute
        top 30px
        right 30px

        +maxwidth($lg-max){
            width 130px
            height 114px
            object-fit contain
            object-position center
            top 13px
            right 13px
        }
    }
}
