.body-overlay {
    display none

    &.is-active {
        display block
        position absolute
        top 0
        bottom 0
        left 0
        right 0
        background-color $black
        opacity .5
        z-index 99
    }
}