.map {
    &--list-item {
        margin-bottom 16px
        position relative
        cursor pointer
        background-color $white
        border-radius 8px
        padding 16px

        &__wrapper {
            overflow-y auto
            overflow-x hidden
            height 785px
            padding-right 16px

            +maxwidth(575px) {
                height 500px
            }
        }

        .name__wrapper {
            display flex
            margin-bottom 16px

            p {
                font-family $open-sans
                font-weight 700
                font-size 16px
                line-height 24px
                margin-left 12px
            }
        }

        .go-to-places {
            font-family $open-sans
            font-weight 700
            font-size 14px
            line-height 20px
            color $text-blue
        }

        .remove-selection {
            position absolute
            right 20px
            top 20px
            width 8px
            height 8px
            cursor pointer
        }
    }
}