input[type='text'], input[type='email'], textarea {
	width 100%
	color $white
	background transparent
	border-top 0
	border-left 0
	border-right 0
	border-bottom 2px solid $lightWhite
	transition border-bottom .3s ease-in-out
	font-size 18px
	margin-left 5px

	+for_breakpoint(mobile) {
		font-size 14px
	}

	&:focus, &:active {
		border-bottom 2px solid $white
	}
}

textarea {
	height 100px
	resize none
}

// Custom checkbox
.checkbox {
	color $white
	cursor pointer
	padding-left 22px
	position relative
	font-size 16px
	display flex

	a {
		text-decoration underline
	}

	p {
		display block
		font-size 16px
	}
}

.checkbox input {
	cursor pointer
	opacity 0
	position absolute
}

.checkbox .checkmark {
	background-color transparent
	border 2px solid $lightWhite
	width 14px
	height 14px
	left 0
	position absolute
	top 6px
	transition all .3s cubic-bezier(.4, 0, .2, 1)
}

.checkbox .checkmark:after {
	box-sizing content-box
	content ''
	display none
	position absolute
}

.checkbox input:checked ~ .checkmark:after {
	display none
}

.checkbox input:checked ~ .checkmark {
	background-color $grey
}

.checkbox.checkbox--mod input:checked ~ .checkmark {
	background-color $grey
}

.error-message {
	display none
	color $red
}

.has--error {
	input, textarea {
		border-bottom 2px solid $red
	}

	&.checkbox-group {
		.checkbox .checkmark {
			border 2px solid red
		}

		.error-message {
			display block
			position relative
			font-size 12px
		}
	}

	.error-message {
		display block
		position absolute
		left 5px
		font-size 12px
	}
}


//Autocomplete
input:-webkit-autofill,
input:-webkit-autofill:focus, 
input:-webkit-autofill:hover, 
select:-webkit-autofill, 
select:-webkit-autofill:focus, 
select:-webkit-autofill:hover, textarea:-webkit-autofill, 
textarea:-webkit-autofill:focus, 
textarea:-webkit-autofill:hover {
	background-color transparent !important
	-webkit-text-fill-color #fff
	-webkit-box-shadow 0 0 0 1000px rgba(0,0,0,0) inset
	-webkit-transition background-color 5000s ease-in-out 0s
	transition background-color 5000s ease-in-out 0s
}