.button {
    display block
    border unset
    color white
    transition all .3s ease-in-out

    &--filled {
        {black-blue-gradient}
        padding 15px 30px

        &:hover {
            {shadow}
        }
    }
}