.wishlist__modal {
    .wishlist__item {
        padding 24px 0
        display flex
        align-items center
        gap 15px

        &:first-of-type {
            padding 0 0 24px
        }

        &:last-of-type {
            padding 24px 0 0
        }

        &:not(:last-of-type) {
            border-bottom 2px solid rgba(217, 217, 217, .2)
        }

        .wishlist__item--image {
            width 48px
            height 48px
        }

        .wishlist__item--title {
            color $primary
            font-family $paragraph
            leading-trim both
            text-edge cap
            font-size 16px
            font-style normal
            font-weight 500
            line-height 24px
            text-transform uppercase
            margin-bottom 3px
        }

        .wishlist__item--information {
            color $grey
            font-family $paragraph
            leading-trim both
            text-edge cap
            font-size 12px
            font-style normal
            font-weight 500
            line-height 20px
            text-transform uppercase
        }
    }
}