.page-template-template-success-form-submit {
    .image-and-text--image__wrapper {
        img {
            height 350px
            width auto

            +for_breakpoint(mobile) {
                width 300px
                height auto
            }
        }
    }
}