.slider {
  &-text {
    padding-top 200px
    transform translateX(-110%)
    transition all 1.3s ease-in-out

    @media all and (max-width 1550px) {
      padding-top 180px
    }

    @media all and (max-width 1440px) {
      padding-top 140px
    }

    @media all and (max-width 992px){
      max-height 335px
    }

    @media all and (max-height 767px){
      padding-top 90px
    }

    .slider-title {
      font-size 32px
      line-height 38px
      color $main_color
      font-weight 300

      @media all and (max-width 1550px) {
        font-size 24px
        line-height 1.1
      }

      @media all and (max-width 1499px){
        font-size 20px
      }

      @media all and (max-width 992px){
        font-size 16px
      }

      @media all and (max-height 335px) {
        font-size 14px
      }
    }

    .description {
      @media all and (max-width 1550px) {
        font-size 15px
        margin-top 15px
      }

      @media all and (max-width 992px){
        font-size 14px
      }
    }

  }

  &-images {
    margin-top 150px
    transform translateX(110%)
    transition all 1.3s ease-in-out

    @media all and (max-width 1499px) {
      margin-top 100px
    }
  }
}

.arrows {
  display flex
  position absolute
  right 32px
  z-index 2
  top 200px

  @media all and (max-width 992px) {
    top 150px
  }

  @media all and (max-width 880px) {
    top 80px
  }

  .main-title {
    width 555px
  }


  .arrow-left {
    margin-right 20px
  }

  .arrow-left, .arrow-right {
    width 56px
    height 56px
    background-color white
    display inline-block
    position relative
    cursor pointer

    @media all and (max-width 992px) {
      width 40px
      height 40px
    }

    & svg {
      display block
      margin 0 auto
      margin-top 50%
      transform translateY(-50%)
    }
  }
}

.slider-arrows {
  display flex
  position absolute
  right -190px
  z-index 2
  top 30px

  @media all and (max-width 767px){
    right -100px
    top -15px
  }
}

.slides-background {
  &:before {
    content ''
    width auto
    height auto
    background-image url("../img/slides_background_desktop.svg")
    background-repeat no-repeat
    background-size contain
    background-position top right
    position fixed
  }
}

.swiper-slide img {
  width 672px !important
  height 556px
  object-fit cover

  @media all and (max-width 1550px) {
    width 510px!important
    height 425px
  }

  @media all and (max-width 1299px) {
    width 485px!important
    height 400px
  }

  @media all and (max-width 992px){
    width 235px!important
    height 215px
  }
}

.button-slider {
  position absolute
  bottom -40px

  @media all and (max-width 1499px){
    bottom -55px
  }

  @media all and (max-height 335px){
    bottom 0
  }

  @media all and (max-height 465px){
    bottom 0
  }
}

.swiper-slide-next, .swiper-slide-prev, swiper-slide-next img{
  transition all 0.5s ease-in-out
}

.swiper-column{
  overflow hidden
  padding 0
}