.main-map {
  padding-top 143px
  margin-left -175px

  @media all and (max-width 1550px) {
    padding-top 80px
    margin-left -150px
  }

  @media all and (max-width 1299px) {
    padding-top 100px
  }

  @media all and (max-width 1199px) {
    padding-top 185px
    margin-left -160px
  }

  @media all and (max-width 992px) {
    padding-top 120px
    margin-left -70px
  }

  @media all and (max-width 885px) {
    padding-top 90px
    margin-left -80px
  }

  @media all and (max-width 767px) {
    padding-top 125px
    margin-left auto
    margin-right auto
  }


  @media all and (max-height 465px) {
    padding-top 100px
  }

  & svg {
    width 1150px
    height 760px

    @media all and (max-width 1700px) {
      width 1000px
      height 625px
    }

    @media all and (max-width 1499px) {
      width 810px
      height 515px
    }

    @media all and (max-width 1199px) {
      width 745px
      height 435px
    }

    @media all and (max-width 992px) {
      width 500px
      height 325px
    }

    @media all and (max-width 885px) {
      width 350px
      height auto
    }

    @media all and (max-width 767px) {
      width 300px
      height auto
    }
  }


  &-home {
    transform scale(2)
    transition 1s ease-in-out

    .main-map-erdely, .main-map-delvidek, .main-map-felvidek {
      fill rgba(221, 91, 63, 0.2)
      transition fill .3s ease-in-out
      //transform-origin 50% 50%
      //transform-box fill-box

      &:hover {
        fill rgba(221, 91, 63, 0.5)
        cursor pointer
        //transform scale(1.1, 1.1)
      }
    }
  }


  &-theatres {
      transform translateX(110%)
      transition 1.5s ease-in-out

      .main-map-erdely, .main-map-delvidek, .main-map-felvidek {
        fill rgba(221, 91, 63, 0.2)
        transition fill .3s ease-in-out
        //transform-origin 50% 50%
        //transform-box fill-box

        &:hover {
          fill rgba(221, 91, 63, 0.5)
          cursor pointer
          //transform scale(1.1, 1.1)
        }
      }
  }
}

.map {
  &--erdely {
    padding-top 143px
    margin-left -175px
    transform scale(2)
    transition 1s ease-in-out

    @media all and (max-width 1550px) {
      padding-top 85px
      margin-left -150px
    }


    @media all and (max-width 1490px) {
      padding-top 80px
      margin-left -65px
    }

    @media all and (max-width 992px) {
      padding-top 40px
      margin-left -40px
    }

    @media all and (max-width 767px) {
      margin-left -25px
      padding-top 50px
    }

    & svg {
      width 1100px
      height 799px

      @media all and (max-width 1550px) {
        width auto
        height 700px
      }

      @media all and (max-width 1499px) {
        height 580px
      }

      @media all and (max-width 992px) {
        height 350px
      }

      @media all and (max-width 845px) {
        height 400px
      }

      @media all and (max-width 767px) {
        height 390px
      }

      @media all and (max-width 675px) {
        height 350px
      }

      @media all and (max-width 600px) {
        height 280px
      }
    }
  }

  &--delvidek {
    transform scale(2)
    transition 1s ease-in-out

    & svg {
      width 1305px
      height 885px
      margin-left -190px

      @media all and (max-width 1550px) {
        width 1045px
        height 735px
        margin-left -210px
        margin-top 25px
      }

      @media all and (max-width 1499px) {
        width 860px
        height 526px
        margin-left -165px
        margin-top 95px
      }

      @media all and (max-width 992px) {
        width 515px
        height auto
        margin-left -85px
        margin-top 50px
      }
    }
  }

  &--felvidek {
    margin-top 120px
    transform scale(2)
    transition 1s ease-in-out

    & svg {
      margin-top 60px
      width 1315px
      height 565px
      margin-left -40px

      @media all and (max-width 1550px) {
        margin-top 0
        width 1000px
        height 500px
        margin-left -10px
      }

      @media all and (max-width 1480px) {
        margin-top 0
        width 900px
        height 500px
        margin-left 50px
      }

      @media all and (max-width 1399px) {
        margin-top 0
        width 900px
        height 500px
        margin-left 0
      }

      @media all and (max-width 1299px) {
        margin-top 0
        width 850px
        height 500px
        margin-left -20px
      }

      @media all and (max-width 1199px) {
        margin-top 0
        width 650px
        height auto
        margin-left 20px
      }

      @media all and (max-width 992px) {
        width 550px
        height auto
      }

      @media all and (max-width 767px) {
        margin-top 30px
        width 360px
        height auto
        margin-left 15px
      }
    }
  }
}