.gallery-paginable {
    .gallery-paginable-arrow-prev, .gallery-paginable-arrow-next {
        width: 40px;
        height: 40px;
        object-fit: contain;
        object-position: center;
        position: absolute;
        cursor: pointer;
        z-index: 999;
        top: 50%;
    }

    .gallery-paginable-arrow-prev {
        left: 16px;
        transform: translateY(-50%);
    }

    .gallery-paginable-arrow-next {
        right: 16px;
        transform: translateY(-50%) rotate(180deg);
    }
}