.header-menu-responsive {
    list-style: none;
    padding: 0;
    margin: 24px 0 0 0;

    .menu-item {
        padding: 16px 24px;

        &:not(:last-of-type) {
            margin-bottom: 8px;
        }

        .nav-link {
            color: $primary;
        }
    }
}