.header {
    &--search-bar {
        width: 312px;
        position: relative;

        +maxwidth($md-max) {
            width: 296px;
        }

        input {
            width: 100%;
        }

        img {
            position: absolute;
            right: 2px;
            top: 2px;
            background-color: $white;
        }
    }

    &--logo {
        width: 281px;
        height: 80px;
        object-position: center;
        object-fit: contain;
        cursor: pointer;

        +maxwidth($xl-max) {
            height: 40px;
        }

        +maxwidth($md-max) {
            width: 190px;
            height: 28px;
        }
    }

    &--main__wrapper {
        display: flex;
        justify-content: space-between;

        &--desktop {
            +maxwidth($xl-max) {
                display: none;
            }
        }

        &--mobile {
            +minwidth($xl-min) {
                display: none;
            }

            display: flex;
            justify-content: space-between;
            align-items: center;

            .submenu__wrapper {
                display: flex;
                align-items: center;
                gap: 25px;

                .profile--hidden {
                    +maxwidth($md-max) {
                        display: none;
                    }
                }
            }
        }
    }

    &--secondary-navigation {
        display: flex;
        position: relative;

        +maxwidth($xl-max) {
            padding-top: 16px;
            position: absolute;
            bottom: 0;
            width: 296px;

            &:before {
                content: '';
                width: 100%;
                height: 2px;
                background-color: $divider-background;
                display: block;
                position: absolute;
                top: 0;
            }
        }

        +maxwidth($md-max) {
            width: calc(100% - 56px);
        }

        +maxwidth(340px) {
            width: calc(100% - 40px);
        }
    }

    &-menu {
        display: flex;
        justify-content: center;
        margin: 24px 0 0 0;
    }
}

.header-menu {
    &--desktop {
        +maxwidth($xl-max) {
            display: none;
        }
    }

    &--mobile {
        +minwidth($xl-min) {
            display: none;
        }
    }
}
