.image-text {
    img {
        max-height: 545px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

        +maxwidth($xl-max) {
            max-height: unset;
            height: calc(100% - 4px);
        }
    }

    &--text__wrapper {
        width: 595px;
        display: block;
        margin-left: auto;
        margin-right: auto;

        +maxwidth($xl-max) {
            width: 100%;
            padding: 24px;
        }

        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 16px;

            +maxwidth($xl-max) {
                margin-bottom: 8px;
            }
        }

        .btn {
            margin-top: 32px;
        }

        p {
            +maxwidth($xl-max) {
                font-size: 14px;
            }
        }
    }
}
