.instagram {
    &--account {
        display: flex;
        gap: 16px;
        align-items: center;
        margin: 16px 0 32px 0;
        font-family: $paragraph-regular;
        color: $primary;

        +maxwidth($lg-max) {
            margin: 8px 0 16px 0;
        }
    }
}