.progress {
    &--card {
        max-width: 320px;

        +maxwidth($md-max) {
            display: block;
            margin: 0 auto;
        }

        img {
            width: 200px;
            height: 200px;
            object-fit: contain;
            object-position: center;
            display: block;
            margin: 0 auto;

            +maxwidth($xxl-max) {
                width: 150px;
                height: 150px;
            }

            +maxwidth($xl-max) {
                width: 100px;
                height: 100px;
            }

            +maxwidth($md-max) {
                width: 120px;
                height: 120px;
                margin-bottom: 12px;
            }
        }

        .title {
            text-align: center;
            font-size: 24px;
            line-height: 32px;
            font-family: $headline-black;

            +maxwidth($xl-max) {
                font-size: 14px;
                line-height: 20px;
            }

            +maxwidth($md-max) {
                display: none;
            }
        }

        > * {
            +maxwidth($md-max) {
                text-align: center;
            }
        }

        .btn {
            +maxwidth($md-max) {
                display: block;
                margin: 32px auto 0 auto;
                text-transform: uppercase;
            }
        }
    }

    &--arrow {
        +maxwidth($xl-max) {
            width: 32px;
        }

        +maxwidth($md-max) {
            display: block;
            margin: 40px auto;
            transform: rotate(90deg);
        }
    }
}