#powerTip {
    border-radius: 0;
    padding: 0;

    .box_view_html {
        max-width: unset;
        width: 282px;
    }

    li {
        list-style-type: none;
    }

    .thumbnail {
        height: 193px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .close_ihp {
        display: none;
    }

    .main-card{
        margin-bottom 0
    }
}


