.slider {
    &--slide {
        width: 100vw;
        height: 720px;
        position: relative;

        +maxwidth($lg-max) {
            height: 360px;
        }

        +maxwidth($sm-max) {
            height: 464px;
        }

        &.has-overlay {
            &:before {
                content: '';
                width: 100%;
                height: 720px;
                background-image: $dark-linear-gradient;
                display: block;
                position: absolute;

                +maxwidth($lg-max) {
                    height: 360px;
                }

                +maxwidth($sm-max) {
                    height: 464px;
                }
            }
        }

        &--text__wrapper {
            position: absolute;
            left: 189px;
            bottom: 128px;
            max-width: 598px;

            +maxwidth($xxl-max) {
                left: 86px;
            }

            +maxwidth($sm-max) {
                left: 32px;
                bottom: 88px;
            }
        }

        img {
            position: absolute;
            width: 100vw;
            height: 720px;
            object-fit: cover;
            object-position: center;
            z-index: -1;

            +maxwidth($lg-max) {
                height: 360px;
            }

            +maxwidth($sm-max) {
                height: 464px;
            }
        }
    }
}
