html, body {
    overflow-x: hidden;
}

.divider {
    margin: 0 0 22px 0;
    height: 1px;
    width: 100%;
    background-color: $divider-background;
}

.mb-32 {
    margin-bottom: 32px;
}

.text-center {
    text-align: center;
}

.hidden-tablet {
    +between($md-max, $xl-max) {
        display: none;
    }
}

.has-overlay {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2));
}

.p-relative {
    position: relative;
}