bg_image($img) {
    background-image: url('../img/' + $img);
    background-size: cover;
    background-position: center;
}

minwidth(var) {
    condition = 'all and (min-width: %s)' % var;

    @media condition {
        {block};
    }
}

maxwidth(var) {
    condition = 'all and (max-width: %s)' % var;

    @media condition {
        {block};
    }
}

between(min, max) {
    condition = 'all and (min-width: %s) and (max-width: %s)' % (min max);

    @media condition {
        {block};
    }
}
