@font-face {
    font-family: 'Aileron Black';
    src: url('../fonts/AileronBlack.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron Bold';
    src: url('../fonts/AileronBold.otf') format('opentype');
}

@font-face {
    font-family: 'Museo Sans 500';
    src: url('../fonts/MuseoSans500.otf') format('opentype');
}

@font-face {
    font-family: 'Museo Sans 700';
    src: url('../fonts/MuseoSans700.otf') format('opentype');
}

@font-face {
    font-family: 'Museo Sans 900';
    src: url('../fonts/MuseoSans900.otf') format('opentype');
}

h1 {
    font-family: $headline-black;
    font-size: 64px;
    line-height: 72px;
    color: $primary;
    margin: 0;
}

h2 {
    font-family: $headline-black;
    font-size: 48px;
    line-height: 56px;
    color: $primary;
    margin: 0;
}

h3 {
    font-family: $headline-black;
    font-size: 40px;
    line-height: 48px;
    color: $heading;
    margin: 0;
}

h4 {
    font-family: $headline-black;
    font-size: 32px;
    line-height: 40px;
    color: $primary;
    margin: 0;
}

h5 {
    font-family: $headline-black;
    font-size: 24px;
    line-height: 32px;
    color: $primary;
    margin: 0;
}

h6 {
    font-family: $headline-black;
    font-size: 20px;
    line-height: 24px;
    color: $primary;
    margin: 0;
}

p, ul, li {
    font-family: $paragraph-regular;
    font-size: 18px;
    line-height: 24px;

    +maxwidth($lg-max) {
        font-size: 16px;
        line-height: 24px;
    }
}

a {
    color: $primary;
}

.responsive-20 {
    +maxwidth($xl-max) {
        font-size: 20px;
        line-height: 24px;
    }
}

.responsive-32 {
    +maxwidth($xl-max) {
        font-size: 32px;
        line-height: 40px;
    }
}

.responsive-40 {
    +maxwidth($xl-max) {
        font-size: 40px;
        line-height: 48px;
    }
}