// Color system
$primary = #231F20;
$secondary = #D1AE73;
$heading = $divider-background = $secondary-placeholder-color = #d9d9d9
$card-border = $card-background = $icon-background =  #F2F2F2
$info-text-color = $current-page-color = $inactive-dots = #9F9F9F
$dark-linear-gradient = linear-gradient(180.04deg, rgba(0, 0, 0, 0) 43.62%, rgba(0, 0, 0, 0.625494) 76.66%, rgba(0, 0, 0, 0.8) 99.96%);
$white = #ffffff
$red = #D2232A

// Fonts
$headline-black = "Aileron Black";
$headline-bold = "Aileron Bold";
$paragraph-black = "Museo Sans 900";
$paragraph-bold = "Museo Sans 700";
$paragraph-regular = "Museo Sans 500";


// Screen sizes
$xs-min = 400px
$sm-min = 576px;
$md-min = 768px;
$lg-min = 992px;
$xl-min = 1200px;
$xxl-min = 1400px;
$xs-max = 399px
$sm-max = 575px;
$md-max = 767px;
$lg-max = 991px;
$xl-max = 1199px;
$xxl-max = 1399px;